services:
  # Config Servers (Replica Set para metadados)
  configsvr1:
    image: mongo:7.0
    container_name: configsvr1
    ports:
      - "27100:27017"
    command: mongod --configsvr --replSet configrs --bind_ip_all --port 27017
    volumes:
      - configsvr1_data:/data/db

  configsvr2:
    image: mongo:7.0
    container_name: configsvr2
    ports:
      - "27101:27017"
    command: mongod --configsvr --replSet configrs --bind_ip_all --port 27017
    volumes:
      - configsvr2_data:/data/db

  configsvr3:
    image: mongo:7.0
    container_name: configsvr3
    ports:
      - "27102:27017"
    command: mongod --configsvr --replSet configrs --bind_ip_all --port 27017
    volumes:
      - configsvr3_data:/data/db

  # Shard 1 (A-H)
  shard1srv:
    image: mongo:7.0
    container_name: shard1srv
    ports:
      - "27201:27017"
    command: mongod --shardsvr --replSet shard1rs --bind_ip_all --port 27017
    volumes:
      - shard1_data:/data/db

  # Shard 2 (I-P)
  shard2srv:
    image: mongo:7.0
    container_name: shard2srv
    ports:
      - "27202:27017"
    command: mongod --shardsvr --replSet shard2rs --bind_ip_all --port 27017
    volumes:
      - shard2_data:/data/db

  # Shard 3 (Q-Z)
  shard3srv:
    image: mongo:7.0
    container_name: shard3srv
    ports:
      - "27203:27017"
    command: mongod --shardsvr --replSet shard3rs --bind_ip_all --port 27017
    volumes:
      - shard3_data:/data/db

  # Mongos Router
  mongos:
    image: mongo:7.0
    container_name: mongos
    ports:
      - "27000:27017"
    command: mongos --configdb configrs/configsvr1:27017,configsvr2:27017,configsvr3:27017 --bind_ip_all --port 27017
    depends_on:
      - configsvr1
      - configsvr2
      - configsvr3
      - shard1srv
      - shard2srv
      - shard3srv

volumes:
  configsvr1_data:
  configsvr2_data:
  configsvr3_data:
  shard1_data:
  shard2_data:
  shard3_data:
